@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);
body {
    background-color: #2f3242;
    user-select: none;
}

html {
    scrollbar-color: #666 #201c29;
    scrollbar-width: thin;
}


svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -400px;
}

.message-box {
    height: 200px;
    width: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -160px;
    margin-left: 50px;
    color: #fff;
    font-family: Roboto;
    font-weight: 300;
}

.message-box h1 {
    font-size: 120px;
    line-height: 46px;
    margin-bottom: 80px;
    font-weight: 1;
    text-shadow: #2f3242a0 1px 1px, #2f3242a0 2px 2px, #2f3242a0 3px 3px, #2f3242a0 4px 4px, #23252ea0 5px 5px, #23252ea0 6px 6px, #23252ea0 7px 7px, #21232ca0 8px 8px, #21232ca0 9px 9px, #21232ca0 10px 10px;
}

.buttons-con .action-link-wrap {
    margin-top: 40px;
}

.buttons-con .action-link-wrap a {
    background: #508bc9;
    padding: 8px 25px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s linear;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px
}

.buttons-con .action-link-wrap a:hover {
    background: #5A5C6C;
    color: #fff;
}

#Polygon-1,
#Polygon-2,
#Polygon-3,
#Polygon-4,
#Polygon-4,
#Polygon-5 {
    animation: float 1s infinite ease-in-out alternate;
}

#Polygon-2 {
    animation-delay: .2s;
}

#Polygon-3 {
    animation-delay: .4s;
}

#Polygon-4 {
    animation-delay: .6s;
}

#Polygon-5 {
    animation-delay: .8s;
}

@keyframes float {
    100% {
        transform: translateY(20px);
    }
}

@media (max-width: 450px) {
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -250px;
        margin-left: -190px;
    }
    .message-box {
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -190px;
        text-align: center;
    }
}